header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #771091;
  font-size: 30px;
}

#nav {
  background-color: coral;
  list-style: none;
  padding: 20px 0;
}

.link {
  display: inline;
  font-size: 20px;
  padding: 0 20px 0 8px;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
  color: #6b2902;
}

.column {
  display: inline-block;
  padding: 0 20px 100px 5px;
  border-style: solid;
  background-color: rgb(255, 255, 5);
  font-family: fantasy;
  font-size: 15px;
}
